header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/header-background.png);
    background-size: auto;
    a {
        text-decoration: none;
    } 
    .row-header {
        background-image: url(assets/header-1.png);
    }
    ul.header-menu {
    margin: 0; 
    padding: 15px;
    }
    ul.header-menu li {
    display: inline; 
    margin-right: 38px; 
    padding: 10px;
    font-size: 16px;
    }
    .introduction {
        background-color:  #eee5eb;
        padding-bottom: 150px;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .chloe-sanre {
        margin-top: -180px;
        margin-left: -190px;
    }
}

header-1 {
    font-family: Arial, Helvetica, sans-serif;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    a {
        text-decoration: none;
    } 
    .row-header {
        background-image: url(assets/check-in-header.png);
    }
    ul.header-menu {
    margin: 0; 
    padding: 15px;
    }
    ul.header-menu li {
    display: inline; 
    margin-right: 38px; 
    padding: 10px; 
    font-size: 16px;
    color: white;
    }
}



.explore {
    width: 70%;
}
.search {
    margin-left: -40px; 
    margin-top: 28px;
}
.form-control {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }


.interests {
    .interests-icon {
        border-radius: 50%;
        float: left;
        padding: 30px;
    }
    .column-text {
        margin-left: 30%;
    }
    .column-name {
        margin-left: 30%;
        margin-top: 9%;
    }
}

.numbers {
    background-image: url(assets/numbers-background.png);
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    .txt-numbers {
        color: white;
        padding: 1%;
    }
}

.check-in {
    .form-control {
        border-radius: .0rem;
        margin-left: 0px;
        margin-top: 0px;
        width: 60%;
    }
    .containe {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .containe input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .containe input:checked ~ .checkmark:after {
        display: block;
      }
      .containe .checkmark:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 14px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
      }
    h2 {
        margin-left: 23%;
        margin-top: 4%;
        padding: 2%;
    }
    .btn-secondary {
        background-color: #b7abb1;
        color: black;
        margin-top: 1%;
        margin-left: 16%;
        margin-bottom: 8%;
        width: 13%;
    }
}




.popular-articles {
    .headline-interests {
        margin-top: 3%;
    }
    .fly-icon {
    margin-right: 14%;
    margin-top: 3%;
    margin-bottom: 5%;
    }
    h4 {
        margin-top: 9%;
    }
    .popular-articles-1 {
        margin-left: 36%;
        width: 90%; 
        font-size: 1.2em;
        margin-top: 11%;
        margin-left: 0%;
    }
    .next-icon {
        margin-top: 290%;
        margin-left: -380%;
    }
}



.profile {
    .girl-icon {
        padding: 5%;
        width: 70%;
    }
    .name {
        margin-left: -40%;
        margin-top: 8%;
        font-size: 2em;
        border: 1px solid;
        text-indent: 2%;
    }
    .form-control {
        border-radius: .0rem;
        margin-left: 0px;
        margin-top: 0px;
        width: 60%;
    }
    .containe {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: -40%;
        margin-top: 3%;
    }  
    .containe input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }  
    .containe input:checked ~ .checkmark:after {
        display: block;
        } 
    .containe .checkmark:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 14px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    } 
}



.article {
    .eye {
        padding: 4%;
    }
    .p1 {
        text-indent: 4%;
        margin: 0%;
        width: 75%;
    }
    .author {
        margin-left: 53%;
        margin-top: 7%;
        margin-bottom: 7%;
    }
}
.next-article {
    padding: 4%;
}
    


footer {
    background-image: url(assets/footer-background.png);
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    .footer-txt {
        color: white;
    }
    .footer-icon {
       margin: 1%;
    }
}



@media (max-width: 767.98px) {
    header {
        background-image: url(assets/header-background-small.png);
        background-size: cover;
        background-position: 0px 0px;
        ul.header-menu {
            padding: 15px;
        }
        ul.header-menu li {
            margin-right: 38px; 
            padding: 10px;
            font-size: 16px;
        }
        .introduction {
            padding-bottom: 150px;
            padding-top: 40px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.8em; 
            float: right;   
        }
        .chloe-sanre {
            margin-top: -205px;
            margin-left: -17px;
            width: 115%;
        }
    }
    .explore {
        width: 70%;
    }
    .search {
        margin-left: -40px; 
        margin-top: 28px;
    }
    .form-control {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    h2 {
        margin-left: 20%;
        margin-top: 4%;
        padding: 2%;
    }
    .interests {
        .interests-icon {
            border-radius: 50%;
            float: left;
            padding: 22px;
        }
        .column-text {
            margin-left: 64%;
        }
        .column-name {
            margin-left: 64%;
            font-size: 140%;
            margin-top: 12%;
        }
    }
    .numbers {
        background-image: url(assets/numbers-background-small.png);
        -moz-background-size: 100%; 
        -webkit-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%;
        .txt-numbers {
            color: white;
            padding: 1%;
        }
    }
    .popular-articles {
        .headline-interests {
            margin-top: 3%;
        }
        .fly-icon {
        width: 70%;
        height: 70%;
        margin-right: 14%;
        }
        h4 {
            margin-left: 35%;
            font-size: 1.3em;
            width: 90%;
        }
        .popular-articles-1 {
            margin-left: 17%;
            width: 140%;
            font-size: 1.1em;
        }
        .next-icon {
            margin-top: 283%;
            margin-left: -130%;
            margin-bottom: 20%;
        }
    }
    footer {
        background-image: url(assets/footer-background.png);
        -moz-background-size: 100%; 
        -webkit-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%;
        background-size: cover;
        .footer-txt {
            color: white;
        }    
        .footer-icon {
        margin: 2%;
        }
    }
}
